$primary-color: #153956;
$secondary-color:#F6A4A5; 
$ternary-color: #002e4d;
$text-color: #BFDBFD;

* {
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

.progress-bar{
    position: fixed;
    background: $secondary-color;
    height: 4px;
    z-index: 100;
    transition-timing-function: ease;
    transition: 0.2s;
    border-radius: 3px;
}

.scroll-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    color: $secondary-color;
    background-color: $primary-color;
    padding: 4px;
}

.logo{
    color: #e9548d;
    font-size:1.5rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-shadow: 10px -8px 2px $ternary-color;

    .blue{
        color: #43c6da;
    }
}

body {
    background: $primary-color;
    color: $text-color;
}

#title h1{
    color: $secondary-color;
    font-weight: 800;
    font-size: 2.5rem;
}

#resume-button{
    background-color: $secondary-color;
    border-radius:0.5rem;
    font-weight: 700;
    box-shadow: -20px 20px $ternary-color;
    margin: 2rem 6rem;
    padding: 1rem 4rem;
    font-weight: 700;
    color: white;
}

.blue-line{
    width: 100%;
    height: 1rem;
    background-color: $ternary-color;
}

#language-icons img{
    height: 4rem;
}

// Experienced in: section
.icon {
    color:$secondary-color; 
}

.title-header {
    color: $secondary-color;
    font-weight: 800;
    font-size: 2rem;
}

.exp-card{
    width: 20rem;
    text-align: center;
    
    p{
        text-align: start;
    }
    
    h4{
        font-weight: 700;
        font-size: 1.5rem;
        color: $secondary-color;
    }
}

// Work Experience section
.blue-border{
    border: 8px solid $ternary-color;
}

.actv{
    border: 6px solid #008D92;
}

#job{
    button{
        background-color: $secondary-color;
        font-weight: 500;
        border-radius: 1rem;
        color: white;
        padding: 1rem 1.5rem
    }
}

// Projects section
#filter-proj{
    button{
        background-color: $ternary-color;
        border: 2px solid rgb(246 164 165);
        font-weight: bold;
        border-radius: 0.25rem;
        padding: .5rem 1rem;
        
        &.actv{
            border: 6px solid #008D92;
        }
    }
}

.disabled{
    opacity:0.1;
}

// Pricing Card section
.pricing-card{
    max-width: 80rem;
    padding: 1rem;
    position: relative;
    ul{
        padding-left: 1rem;
    }
    li{
        list-style-type: disc;
    }

    // Global before, white border at 50% width
    &::before {
        content: "";
        position: absolute;
        width: 50%;
        border: solid white;
      }

    h3{
        font-weight: 700;
        font-size: 1.3em;
        padding-bottom: .3rem;
    }

    .info{
        border: .5rem solid $secondary-color;
        border-radius: 1rem;
        background-color: $primary-color;
        padding: .8rem;
    }

    // Pricing Card Odd
    &:nth-child(odd){
        padding-right: 10%;

        h3::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            left: -5px;
            background: white;
            border-radius: 999px;
        }

        &::before{
            left: 0px;
            top: -4.5px;
            bottom: -4.5px;
            border-width: 5px 0 5px 5px;
            border-radius: 50px 0 0 50px;
        }
    }

    &:first-child::before{
        border-top: 0;
        border-top-left-radius: 0;
    }

    // Pricing Card Even
    &:nth-child(even){
        padding-left: 15%;
        
        
        h3{
            text-align: right;
        }

        
        h3::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            right: -5px;
            background: white;
            border-radius: 999px;
        }

        &::before{
            right:0;
            top: 0;
            bottom: 0;
            border-width: 5px 5px 5px 0;
            border-radius: 0 50px 50px 0;
        }
    }
}


// Media breakpoints, 
// Small screen scroll to top button,
@media (max-width: 640px) {
    .scroll-to-top{
        padding: 0;
        right: 0;
        bottom: 0;

    }
}